/* Style the video: 100% width and height to cover the entire window */

body {
    background-color: black;
}

.container {
    width: 100%;
    height: auto;
    overflow: hidden;
}

#cover {
    width: 100%;
    height: auto;
    style: block;
}

.container video {
    width: 49.8%;
    height: auto;
    display: inline-block;
}

.container img {
    width: 49%;
    height: 500px;
    margin-top: 4px;
    display: inline-block;
    /* overflow: hidden; */
}


/* Add some content at the bottom of the video/page */

.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.25);
    color: #f1f1f1;
    width: 100%;
    padding-left: 10px;
}

.full-img img {
    width: 100%;
}