/* Style the video: 100% width and height to cover the entire window */

body {
    background-color: black;
}

.container {
    width: 100%;
    height: auto;
    overflow: hidden;
}

.container video {
    max-width: 100%;
    height: auto;
    display: block;
    margin: auto;
}

.container img {
    width: 49%;
    height: auto;
    margin-top: 4px;
}

#reflection {
    width: 100%;
    height: auto;
    overflow: hidden;
}


/* Add some content at the bottom of the video/page */

.content {
    position: fixed;
    bottom: 0;
    background: rgba(0, 0, 0, 0.25);
    color: #f1f1f1;
    width: 100%;
    padding-left: 10px;
}


/* Style the button used to pause/play the video */